<div class="row" id="proyectos">
    <h1>Proyectos Realizados</h1>
    
    <div class="contenedor">
        
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Portfolio</h2>
            <p>Realizacion de proyecto final de Argentina Programa FullStack Developers Jr. 
                mediante la utilizacion de las herramientas Angular, CSS, Bootstrap, Java,
                Javascript, React, Github. Consiste en la creacion de una pagina web 
                portfolio con todos mis datos curriculares.</p>
                
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/argentina-programa.jpg" class="img-fluid img-proyecto">
        </div>
        <div></div><hr>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">        
            <h2>Sistema de Inscripciones</h2>
            <p>Programacón de un Sistema de Inscripciones para una entidad educativa. Consiste en que el alumno pueda inscribirse a cursar o rendir materias según la carrera que este cursando, teniendo en cuenta las materias correlativas si estan aprobadas o regular.</p>
        </div>
        
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/inscripciones.jpg" class="img-fluid img-proyecto">
        </div>
        <div></div><hr>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Poker</h2>
            <p>Juego de Poker programado en Visual FoxPro 9</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/poker.png" class="img-fluid img-proyecto">

        </div>
        <div></div><hr>

        
        
        



    </div>




</div>
