<div class="row" id="skills">
    <h1>Habilidades duras y blandas</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="70"
            [radius]="100"
            
            [imageSrc]="'../assets/iconos/html.png'"
            [showImage]="false"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#00ffff'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
        <p><img src="../assets/iconos/html.png" alt=""></p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="100"
            [title]="'CSS'"
            [imageSrc]="'../assets/iconos/CSS.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#ff0000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
        <p>CSS</p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="10"
            [radius]="100"
            [title]="'JAVASCRIPT'"
            [imageSrc]="'../assets/iconos/js.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#ff9100'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
        <p>JAVASCRIPT</p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [title]="'BOOTSTRAP'"
            [imageSrc]="'../assets/iconos/bootstrap.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#fffb00'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
        <p>BOOTRSTRAP</p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="55"
            [radius]="100"
            [title]="'MySQL'"
            [imageSrc]="'../assets/iconos/sql.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
        <p>MySQL</p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'VISUAL FOXPRO 9'"
            [imageSrc]="'../assets/iconos/vfp.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#ff00dd'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="1000">
        </circle-progress>
        <p>VISUAL FOXPRO 9</p>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="10"
            [radius]="100"
            [title]="'JAVA'"
            [imageSrc]="'../assets/iconos/java.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="1"
            [outerStrokeColor]="'#0011ff'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="1000">
            
        </circle-progress>
        <p>JAVA</p>
    </div>
</div>
