
 <div class="row" id="acercademi">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/yo.jpg" class="img-fluid" id="mifoto">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <h3>Eduardo Ruben Lazarte</h3>
            <p>FullStack Developers Jr.</p>
            <p>Analista en Sistemas</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi...</h1>
                <p>Hola grupo, me llamo Eduardo y estoy contento de estar realizando este curso. Soy Analista en Sistemas y siempre programe en lenguaje Visual FoxPro 9 pero nunca e tenido la oportunidad de trabajar en ello. Me gusta el trabajo en equipo pienso que la solución a cualquier problema o actividad se obtiene mejor (varias cabezas piensan mejor que una). Actualmente estoy desempleado, trabaje varios años en una Clínica, Admin. Publica, etc., todo relacionado con trabajo de administrativo. Me puse la meta de querer trabajar como programador (sino para que estudie Analista en Sistemas jeje), debo admitir que estoy desactualizado y este curso me viene de diez.

                    Les digo a mis compañeros que cuenten conmigo para cooperar en este curso y todos salgamos adelante y lleguemos a la meta que nos proponemos.</p>
                    <a title="editar" href=""><img src="../../../assets/editar.png" id="editar"></a>
            </span>
        </div>
</div>
