<div class="row">
    <footer>
        <div>
            <a href="#acercademi">Acerca de mi</a><br>
            <a href="#experiencia">Experiencia Laboral</a><br>
            <a href="#educacion">Educación</a><br>
            <a href="#skills">Habilidades duras y blandas</a><br>
            <a href="#proyectos">Proyectos Realizados</a><br>
        </div>
        
        <p>Eduardo Ruben Lazarte | &copy; Argentina Programa 2022</p>
        <p>San Salvador de Jujuy, Argentina</p>

    </footer>




</div>
